:host {
  border-radius: 0.375rem;
  background-color: #153078;
  font-family: sans-serif;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 0.25rem;
  padding: 0.25rem 0;
}
.salutation, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.25rem;
}

.name-container {
  align-items: center;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 200;
  gap: 0.25rem;
  justify-content: center;
  padding: 0.5rem 0;
}
